@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
body{
    background-color:blueviolet;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.texto-centralizado{
    text-align: center;
}
h1,h2{
    font-family: 'Anton', sans-serif;
}
img{
    height: 30%;
    display: block;
    margin:auto;
}
header{
    background-color: gray;
}