@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
body{
    background-color: #585858;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.texto-centralizado{
    text-align: center;
}
h1,h2,h3{
    font-family: 'Anton', sans-serif;
}
header{
    background-color: rgb(128, 128, 128);
    text-align:center;
    padding: 10px;
}
img{
    width:50%;
}
a{
    color:white;
}